.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  margin-right: 15px;
}

.nav-link:hover {
  color: #ffdd57;
}

.custom-navbar .navbar-collapse {
  padding-right: 20px; /* Adjust the value as needed */
}

.navbar-nav {
  margin-left: auto;
  padding-right: 20px; /* Adjust the value as needed */
}
